:root {
--color00: #0B1710;
--color01: #0B1710;
--color02: #0B1710;
--color03: #1D5C34;
--color04: #37B37E;
--color05: #4FD98C;
--color06: #37B37E;
--color07: #37B37E;
--color08: #C8E967;
--color09: #7CD699;
--color0A: #5EE39A;
--color0B: #E20342;
--color0C: #FF7F41;
--color0D: #34A65F;
--color0E: #3C8F6E;
--color0F: #CE4F48;
}
